---

---

<div class="navbar bg-[#FCF4E5] text-[#413C30]">
    <div class="navbar-start">
      <div class="dropdown">
        <div tabindex="0" role="button" class="btn btn-ghost lg:hidden">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-5 w-5"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
            ><path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M4 6h16M4 12h8m-8 6h16"></path></svg
          >
        </div>
        <ul
          tabindex="0"
          class="menu menu-sm dropdown-content mt-3 z-[1] p-2 shadow bg-base-100 rounded-box w-52"
        >
          <li><a href="https://nl.bodh.me/text-tools">Tekst</a></li>
          <li>
            <a href="https://nl.bodh.me/number-tools">Nummer</a>
          </li>
          <li>
            <a href="https://nl.bodh.me/text-generators">Tekst Generator</a>
          </li>
          <li>
            <a href="https://nl.bodh.me/symbols">Symbool</a>
          </li>
          <li>
            <a href="https://nl.bodh.me/utility-tools">Utility Tools</a>
          </li>
          <li>
            <a href="https://nl.bodh.me/dev-tools">Dev Tools</a>
          </li>
          <li>
            <a href="https://nl.bodh.me/web-tools">Web Tools</a>
          </li>
        </ul>
      </div>
      <img src="/logo.svg" alt="Logo" class="h-8 lg:ml-8" />
      <a href="/" class="btn btn-ghost text-xl lg:mx-2">Ja of Nee</a>
    </div>
    <div class="navbar-center hidden lg:flex">
      <ul class="menu menu-horizontal px-1 font-medium">
        <li><a href="https://nl.bodh.me/text-tools">Tekst</a></li>
        <li>
          <a href="https://nl.bodh.me/number-tools">Nummer</a>
        </li>
        <li>
          <a href="https://nl.bodh.me/text-generators">Tekst Generator</a>
        </li>
        <li>
          <a href="https://nl.bodh.me/symbols">Symbool</a>
        </li>
        <li>
          <a href="https://nl.bodh.me/utility-tools">Utility Tools</a>
        </li>
        <li>
          <a href="https://nl.bodh.me/dev-tools">Dev Tools</a>
        </li>
        <li>
          <a href="https://nl.bodh.me/web-tools">Web Tools</a>
        </li>
      </ul>
    </div>
    <div class="navbar-end">
      <ul class="menu menu-horizontal lg:mx-8">
        <li>
          <details>
            <summary class="bg-[#F9E6BB] rounded-lg"
              ><svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="h-4 w-4 md:h-5 md:w-5"
                ><path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M10.5 21l5.25-11.25L21 21m-9-3h7.5M3 5.621a48.474 48.474 0 016-.371m0 0c1.12 0 2.233.038 3.334.114M9 5.25V3m3.334 2.364C11.176 10.658 7.69 15.08 3 17.502m9.334-12.138c.896.061 1.785.147 2.666.257m-4.589 8.495a18.023 18.023 0 01-3.827-5.802"
                ></path></svg
              ></summary
            >
            <ul class="p-1 absolute bg-white rounded-lg shadow-lg right-0">
              <li><a href="https://bodh.me/">English(EN)</a></li>
              <li><a href="https://es.bodh.me/">Español(ES)</a></li>
              <li><a href="https://pt.bodh.me/">Português(PT)</a></li>
              <li><a href="https://th.bodh.me/">Thai(TH)</a></li>
              <li><a href="https://fr.bodh.me/">Français(FR)</a></li>
              <li><a href="https://it.bodh.me/">Italiano(IT)</a></li>
              <li><a href="https://pl.bodh.me/">Polski(PL)</a></li>
              <li><a href="https://ru.bodh.me/">Pусский(RU)</a></li>
              <li><a href="https://kr.bodh.me/">한국인(KR)</a></li>
              <li><a href="https://jp.bodh.me/">日本人(JP)</a></li>
              <li><a href="https://ar.bodh.me/">Spanish(AR)</a></li>
              <li><a href="https://de.bodh.me/">Deutsch(DE)</a></li>
              <li><a href="https://vi.bodh.me/">Tiếng Việt(VI)</a></li>
              <li><a href="https://el.bodh.me/">Ελληνικά(EL)</a></li>
              <li><a href="https://nl.bodh.me/">Nederlands(NL)</a></li>
              <li><a href="https://tr.bodh.me/">Türkiye(TR)</a></li>
              <li><a href="https://hu.bodh.me/">Magyar(HU)</a></li>
              <li><a href="https://id.bodh.me/">Indonesian(ID)</a></li>
              <li><a href="https://tw.bodh.me/">Taiwanese(TW)</a></li>
              <li><a href="https://cn.bodh.me/">中国人(CN)</a></li>
            </ul>
          </details>
        </li>
      </ul>
    </div>
  </div>
  